<!DOCTYPE html>
<html>
<head><title>Edit Category</title></head>
<body>
    <h1>Edit Category</h1>
    <form action="/edit-category/{{ category[0] }}" method="POST">
        <label>Category Name:</label><br>
        <input type="text" name="category_name" value="{{ category[1] }}" required><br><br>

        <label>Description:</label><br>
        <input type="text" name="description" value="{{ category[2] }}"><br><br>

        <button type="submit">Update Category</button>
    </form>
</body>
</html>