<!DOCTYPE html>
<html>
<head><title>Stock Transactions</title></head>
<body>
    <h1>Stock Transaction History</h1>
    <a href="/add-stock-transaction">+ Record New Transaction</a>
    <table border="1" cellpadding="8">
        <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Type</th>
            <th>Quantity</th>
            <th>Date</th>
            <th>Reference</th>
        </tr>
        {% for t in transactions %}
        <tr>
            <td>{{ t[0] }}</td>
            <td>{{ t[1] }}</td>
            <td>{{ t[2] }}</td>
            <td>{{ t[3] }}</td>
            <td>{{ t[4] }}</td>
            <td>{{ t[5] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>